#root {
  background-image: linear-gradient(to right, #141e30, #243b55);
}

.App {
  padding-bottom: 60px;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  max-width: 32%;
  flex: 0 0 32%;
  width: 100%;
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: flex-end;
  align-items: center;
  border: 0 none !important;
  cursor: pointer;
  overflow: hidden;
}

@media all and (max-width: 991px) {
  .card {
    flex: 0 0 49%;
    max-width: 49%;
  }
}

@media all and (max-width: 767px) {
  .card {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.card-description {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
}

.card:hover .card-description {
  transform: translateY(0%);
}

.card-title__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title {
  color: #fff;
}

.genres {
  display: flex;
  justify-content: center;
  padding-left: 0;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.genres li {
  color: #fff;
  font-style: italic;
  list-style: none;
  margin: 0 5px;
}

.genres li:after {
  content: "/";
  padding-left: 5px;
}

.genres li:last-child:after {
  display: none;
}

.rating {
  color: #fff;
}

.title {
  text-align: center;
  color: white;
  font-weight: bold;
}

.favorites-container {
  position: fixed;
  background-image: linear-gradient(to right, #00b4db, #0083b0);
  bottom: 0;
  width: 100%;
  transform: translateY(445px);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.favorites-container:hover {
  transform: translateY(0);
}

.favorites-item-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  overflow-y: hidden;
  padding-bottom: 5px;
}

.favorite-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-width: 10%;
  flex: 0 0 10%;
  margin: 0 5px;
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  border-radius: 5px;
}

.favorite-card::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.favorite-card:hover::after {
  background-color: rgba(0,0,0,0);
}

.favorites-title {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  color: #fff;
}